In [119]:
import numpy as np
import pandas as pd
import re
from collections import Counter

wellcome = pd.read_csv('/Users/justinsmith/Documents/GitHub/thinkful/WELLCOME_APCspend2013_forThinkful.csv', encoding='latin1')

In [120]:
wellcome.head()

,PMID/PMCID,Publisher,Journal title,Article title,COST (£) charged to Wellcome (inc VAT when charged)
0,NaN,CUP,Psychological Medicine,Reduced parahippocampal cortical thickness in ...,£0.00
1,PMC3679557,ACS,Biomacromolecules,Structural characterization of a Model Gram-ne...,£2381.04
2,23043264 PMC3506128,ACS,J Med Chem,"Fumaroylamino-4,5-epoxymorphinans and related ...",£642.56
3,23438330 PMC3646402,ACS,J Med Chem,Orvinols with mixed kappa/mu opioid receptor a...,£669.64
4,23438216 PMC3601604,ACS,J Org Chem,Regioselective opening of myo-inositol orthoes...,£685.88

In [121]:
wellcome = wellcome[['Journal title', 'Article title','COST (£) charged to Wellcome (inc VAT when charged)']]

In [122]:
wellcome.head()

,Journal title,Article title,COST (£) charged to Wellcome (inc VAT when charged)
0,Psychological Medicine,Reduced parahippocampal cortical thickness in ...,£0.00
1,Biomacromolecules,Structural characterization of a Model Gram-ne...,£2381.04
2,J Med Chem,"Fumaroylamino-4,5-epoxymorphinans and related ...",£642.56
3,J Med Chem,Orvinols with mixed kappa/mu opioid receptor a...,£669.64
4,J Org Chem,Regioselective opening of myo-inositol orthoes...,£685.88

In [123]:
wellcome = wellcome.rename(columns={'Journal title': 'Journal', 'COST (£) charged to Wellcome (inc VAT when charged)': 'Cost'})

In [124]:
wellcome['Cost'] = wellcome['Cost'].map(lambda x: x.lstrip('£').rstrip('£/$'))
wellcome.head()

,Journal,Article title,Cost
0,Psychological Medicine,Reduced parahippocampal cortical thickness in ...,0.00
1,Biomacromolecules,Structural characterization of a Model Gram-ne...,2381.04
2,J Med Chem,"Fumaroylamino-4,5-epoxymorphinans and related ...",642.56
3,J Med Chem,Orvinols with mixed kappa/mu opioid receptor a...,669.64
4,J Org Chem,Regioselective opening of myo-inositol orthoes...,685.88

In [141]:
wellcome['Journal'] = wellcome['Journal'].replace(to_replace='The', value='')
wellcome['Journal'] = wellcome['Journal'].str.lower()
wellcome['Journal'] = wellcome['Journal'].str.strip()
wellcome['Cost'] = wellcome['Cost'].astype(float)
wellcome['Cost'] = wellcome['Cost'].dropna()
wellcome['Cost'] = wellcome['Cost'].drop()

In [129]:
wellcome_sorted = wellcome.groupby('Journal').count()
wellcome_sorted = wellcome_sorted.sort_values('Article title', ascending=False)
wellcome_sorted.head()

                                 Article title  Cost
Journal
plos one                                   190   190
journal of biological chemistry             53    53
neuroimage                                  29    29
nucleic acids research                      26    26
plos genetics                               24    24

In [136]:
wellcome_mean = wellcome.groupby(['Journal'])['Cost'].mean()
wellcome_mean.head()

Journal
academy of nutrition and dietetics                               2379.540
acs chemical biology                                             1418.186
acs chemical neuroscience                                        1186.800
acs nano                                                          668.140
acta crystallographica section d,  biological crystallography     771.420
Name: Cost, dtype: float64

In [139]:
wellcome_median = wellcome.groupby(['Journal'])['Cost'].median()
wellcome_median.head()

Journal
academy of nutrition and dietetics                               2379.54
acs chemical biology                                             1294.59
acs chemical neuroscience                                        1186.80
acs nano                                                          668.14
acta crystallographica section d,  biological crystallography     771.42
Name: Cost, dtype: float64

In [140]:
wellcome_std = wellcome.groupby(['Journal'])['Cost','Article title'].std()
wellcome_std.head()

                                                          Cost
Journal
academy of nutrition and dietetics                         NaN
acs chemical biology                                507.309560
acs chemical neuroscience                                  NaN
acs nano                                             35.708892
acta crystallographica section d,  biological c...         NaN